[submodule "qr-code-element"]
	path = qr-code-element
	url = https://github.com/telepathic-elements/qr-code-element.git
[submodule "telepathic-element"]
	path = telepathic-element
	url = https://github.com/telepathic-elements/telepathic-element.git
[submodule "telepathic-elements/telepathic-loader"]
	path = telepathic-elements/telepathic-loader
	url = https://github.com/telepathic-elements/telepathic-loader.git
